.main-section {
	width:100%;
	position:relative;
	/* background: url('../img/bg1.jpg') no-repeat top center; */
    background: url('../img/vegas_strip.jpg') no-repeat top center; 
    background: url('../img/cardTable.jpg') no-repeat top center; 
    background: url('../img/vegas_strip_2.jpg') no-repeat top center; 
    background: url('../img/las_vegas_day.jpg') no-repeat top center; 
    background: url('../img/test.jpg') no-repeat top center; 
    background: url('../img/las-vegas-at-night.jpg') no-repeat top center; 
    /* background: gray no-repeat top center; */

    background-repeat:no-repeat;
    background-size:contain;
}